<div class="container">
    <form [formGroup]="formulario" autocomplete="off" (ngSubmit)="salvar()">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1>{{ editando ? 'Edição de' : 'Novo' }} Usuario</h1>
            </div>
            <div class="ui-g-6 ui-g-offset-6 ui-md-2 ui-md-offset-10 ui-fluid" *ngIf="!formulario.get('anexo').value">
                <p-fileUpload name="anexo" mode="basic" auto="true" maxFileSize="100000000" chooseLabel="Anexar"
                    accept="image/*" [url]="urlUploadAnexo" (onUpload)="onFileUpload($event)"
                    (onError)="erroUpload($event)" (onBeforeUpload)="antesUploadAnexo()" [hidden]="uploadEmAndamento">
                </p-fileUpload>
                <p-progressSpinner [hidden]="!uploadEmAndamento" [style]="{ width: '25px', height: '25px' }">
                </p-progressSpinner>
            </div>
            <div *ngIf="formulario.get('anexo').value">
                <div class="ui-g-3">
                    <img style="width: 100%; height: auto; border-radius: 50%" target="_blank"
                        src="///leadspongeuserimagens.s3.us-east-2.amazonaws.com/{{formulario.get('anexo').value}}">
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" class="ui-button-rounded ui-button-danger" icon="fas fa-times"
                        pTooltip="Remover imagem" tooltipPosition="top" (click)="removerAnexo()"></button>
                </div>
            </div>
            <div class="ui-g-12 ui-fluid">
                <p-inputSwitch name="enabled" formControlName="enabled" binary="false" [(ngModel)]="checked"
                    pTooltip="{{checked === true ? 'Desativar' : 'Ativar'}} usuario">
                </p-inputSwitch>
            </div>
            <div class="ui-g-12 ui-fluid">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fas fa-user" style="line-height: 1.25;"></i></span>
                    <span class="ui-float-label">
                        <input pInputText type="text" name="username" formControlName="username" class="uppercase">
                        <label for="float-input">Nome de Usuario *</label>
                    </span>
                </div>
                <app-message [control]="formulario.get('username')" error="obrigatoriedade"
                    text="Informe um nome de usuario.">
                </app-message>
                <app-message [control]="formulario.get('username')" error="tamanhoMinimo"
                    text="Mínimo de {{ formulario.get('username').errors?.tamanhoMinimo?.tamanho }} caracteres.">
                </app-message>
            </div>
            <div class="ui-g-12 ui-fluid">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fas fa-user" style="line-height: 1.25;"></i></span>
                    <span class="ui-float-label">
                        <input pInputText type="text" name="nomeCompleto" formControlName="nomeCompleto">
                        <label for="float-input">Nome Completo *</label>
                    </span>
                </div>
                <app-message [control]="formulario.get('nomeCompleto')" error="obrigatoriedade"
                    text="Informe o um nome.">
                </app-message>
                <app-message [control]="formulario.get('nomeCompleto')" error="tamanhoMinimo"
                    text="Mínimo de {{ formulario.get('nomeCompleto').errors?.tamanhoMinimo?.tamanho }} caracteres.">
                </app-message>
            </div>
            <div class="ui-g-12 ui-fluid">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fas fa-envelope" style="line-height: 1.25;"></i></span>
                    <span class="ui-float-label">
                        <input pInputText type="text" name="email" formControlName="email">
                        <label for="float-input">E-mail *</label>
                    </span>
                </div>
                <app-message [control]="formulario.get('email')" error="obrigatoriedade" text="Informe um E-mail.">
                </app-message>
                <app-message [control]="formulario.get('email')" error="email"
                    text="Por gentileza insira um E-mail valido.">
                </app-message>
            </div>
            <div class="ui-g-6 ui-fluid">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fas fa-key" style="line-height: 1.25;"></i></span>
                    <span class="ui-float-label">
                        <input type="password" pPassword promptLabel="Por favor digite uma senha" weakLabel="Fraca"
                            mediumLabel="Media" strongLabel="Forte" name="password" formControlName="password"
                            [showPassword]="showPass">
                        <label for="float-input">Senha *</label>
                    </span>
                    <button pButton type="button" icon="{{icon}}" class="ui-button-warn" binary="false"
                        (click)="esconderSenha()"></button>
                </div>
                <app-message [control]="formulario.get('password')" error="validarObrigatoriedade"
                    text="Informe a senha">
                </app-message>
                <app-message [control]="formulario.get('password')" error="tamanhoMinimo"
                    text="Mínimo de {{ formulario.get('password').errors?.tamanhoMinimo?.tamanho }} caracteres">
                </app-message>
            </div>
            <div class="ui-g-6 ui-fluid">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fas fa-key" style="line-height: 1.25;"></i></span>
                    <span class="ui-float-label">
                        <input type="password" pPassword name="confirmarPassword" formControlName="confirmarPassword"
                            [showPassword]="showConfPass" value="{{ editando ? '' : '' }}">
                        <label for="float-input">Confirmar Senha *</label>
                    </span>
                    <button pButton type="button" icon="{{iconConf}}" class="ui-button-warn" binary="false"
                        (click)="esconderConfSenha()"></button>
                </div>
                <app-message [control]="formulario.get('confirmarPassword')" error="validarObrigatoriedade"
                    text="Informe a confirmação da senha"></app-message>
                <app-message [control]="formulario.get('confirmarPassword')" error="tamanhoMinimo"
                    text="Mínimo de {{ formulario.get('confirmarPassword').errors?.tamanhoMinimo?.tamanho }} caracteres">
                </app-message>
                <app-message [control]="formulario" error="passwordNotMatch"
                    text="O campo senha não conhecide com o confirmar senhas"></app-message>
            </div>
            <div class="ui-g-12 ui-md-12 ui-fluid">
                <p-multiSelect name="roles" [options]="roles" defaultLabel="Selecione as Permissões" optionLabel="nome"
                    formControlName="roles"></p-multiSelect>
            </div>
            <div class="ui-g-12 cadastro-acoes">
                <button pButton value="submit" type="submit" label="Salvar" [disabled]="formulario.invalid"
                    style="padding-left:10;" class="ui-button-success"></button>
                <button pButton value="Limpar" type="button" label="Limpar" (click)="limpar()"
                    style="padding-left:10;" class="ui-button-warning"></button>
                <button pButton value="Pesquisar" type="button" label="Pesquisar" class="ui-button-info"
                    Clabel="Pesquisa" routerLink="/usuarios" style="padding-left:10;"></button>
            </div>
        </div>
    </form>
    <pre> {{formulario.value | json}} </pre>
</div>