<p-menubar [model]="items">
  <button #btn type="button" pButton iconPos="right" icon="pi pi-caret-down" (click)="menu.toggle($event)"
    label=" {{ auth.jwtPayload?.nome }} "></button>
  <p-slideMenu #menu [model]="users" [popup]="true" [menuWidth]="175">
  </p-slideMenu>
</p-menubar>
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000" id="sidebar" [style]="{padding:'0px'}">
  <div class="sidebar-header">
    <h2 style="font-weight:normal">Lead Sponge</h2>
  </div>
  <ul class="list-unstyled components">
    <li class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"
      *ngIf="auth.temPermissao('USER')"><a routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"
      *ngIf="auth.temPermissao('PESQUISAR_NEGOCIACAO')"><a routerLink="/negociacoes">Negociações</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"
      *ngIf="auth.temPermissao('PESQUISAR_CLIENTE')"><a routerLink="/clientes">Empresa/Cliente</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"
      *ngIf="auth.temPermissao('PESQUISAR_CONTATO')"><a routerLink="/contatos">Contato</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"
      *ngIf="auth.temPermissao('PESQUISAR_TAREFA')"><a routerLink="/tarefas">Tarefas</a>
    </li>
  </ul>
</p-sidebar>