<div class="container">
    <form [formGroup]="formulario" autocomplete="off" (ngSubmit)="salvar()">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1>{{ editando ? 'Edição de' : 'Nova' }} Empresa/Cliente</h1>
            </div>
            <div class="ui-g-12 ui-fluid">
                <input pInputText placeholder="Nome da empresa ou cliente (pessoa física)*" type="text" name="nome" formControlName="nome">
                <app-message [control]="formulario.get('nome')" error="obrigatoriedade" text="Informe o um nome para o cliente.">
                </app-message>
                <app-message [control]="formulario.get('nome')" error="tamanhoMinimo"
                    text="Mínimo de {{ formulario.get('nome').errors?.tamanhoMinimo?.tamanho }} caracteres.">
                </app-message>
            </div>
            <div class="ui-g-12 ui-md-12 ui-fluid" formGroupName="segmento">
                <p-dropdown name="segmento" [options]="segmentos" placeholder="Selecione um Segmento"
                    [filter]="true" formControlName="id"
                    [virtualScroll]="true" [itemSize]="10"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-fluid">
                <input pInputText placeholder="url" type="text" name="url" formControlName="url">
            </div>
            <div class="ui-g-12 ui-fluid">
                <input pInputText placeholder="Resumo" type="text" name="resumo" formControlName="resumo">
            </div>
            <div class="ui-g-12 cadastro-acoes">
                <button pButton value="submit" type="submit" label="Salvar" [disabled]="formulario.invalid"
                    style="padding-left:10;"></button>
                <button pButton value="Limpar" type="button" label="Limpar" class="ui-button-info" (click)="limpar()"
                    style="padding-left:10;"></button>
                <button pButton value="Pesquisar" type="button" label="Pesquisar" class="ui-button-info"
                    Clabel="Pesquisa" routerLink="/clientes" style="padding-left:10;"></button>
            </div>
        </div>
    </form>
</div>