<form [formGroup]="formulario" autocomplete="off" (ngSubmit)="salvar()">
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="title1">Adicionar produtos e serviços</span><br />
                <span class="title2">Adicione produtos e serviços para a sua negociação</span>
            </div>
        </p-header>
        <div class="ui-g">
            <div class="row">
                <div class="p-field p-grid" formGroupName="produto">
                    <label for="produto" class="p-col-fixed" style="width:130px; padding-left: 16px;">Produto <span
                            style="color: crimson;">*</span></label>
                    <div class="p-col">
                        <p-dropdown name="produto" [options]="produtos" [filter]="true" formControlName="id"
                            placeholder="selecione um produto" (onChange)="valor($event.value)">
                        </p-dropdown>
                        <app-message [control]="formulario.get('produto')" error="obrigatoriedade"
                            text="Selecione um Produto/Serviço para a Negociação.">
                        </app-message>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="p-field p-grid">
                    <label for="quantidade" class="p-col-fixed"
                        style="width:130px; padding-left: 16px;">Recorrência</label>
                    <div class="p-col">
                        <p-dropdown [options]="optReincidencia" [filter]="false" formControlName="reincidencia">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="p-field p-grid">
                    <label for="quantidade" class="p-col-fixed"
                        style="width:130px; padding-left: 16px;">Quantidade</label>
                    <div class="p-col">
                        <p-inputNumber [(ngModel)]="qtd" formControlName="quantidade" mode="decimal"
                            [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                            incrementButtonIcon="pi pi-plus" decrementButtonClass="ui-button-danger"
                            incrementButtonClass="ui-button-success" decrementButtonIcon="pi pi-minus" [min]="1">
                        </p-inputNumber>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="p-field p-grid">
                    <label for="valor" class="p-col-fixed" style="width:130px; padding-left: 16px;">Valor</label>
                    <div class="p-col">
                        <p-inputNumber formControlName="valor" mode="decimal" mode="currency"
                            [(ngModel)]="valorProduto == null ? 0.00 : valorProduto" [showButtons]="true"
                            buttonLayout="horizontal" spinnerMode="horizontal" [step]="0.25"
                            decrementButtonClass="ui-button-danger" incrementButtonClass="ui-button-success"
                            incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" prefix="R$"
                            mode="decimal" [minFractionDigits]="2">
                        </p-inputNumber>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="p-field p-grid">
                    <label for="temDesconto" class="p-col-fixed" style="width:130px; padding-left: 16px;">Tem
                        desconto?</label>
                    <div class="p-col">
                        <p-inputSwitch [(ngModel)]="checked" formControlName="temDesconto"></p-inputSwitch>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="p-field p-grid" [hidden]="!checked">
                    <label for="optTipoDesconto" class="p-col-fixed" style="width:130px; padding-left: 16px;">Tipo
                        desconto</label>
                    <div class="p-col">
                        <p-dropdown name="optTipoDesconto" [options]="optTipoDesconto" [filter]="false"
                            formControlName="tipoDesconto">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row">
                <div [hidden]="!checked">
                    <div [hidden]="formulario.value.tipoDesconto == 'PORCENTAGEM' ? false : true">
                        <div class="p-field p-grid">
                            <label for="desconto" class="p-col-fixed" style="width:130px; padding-left: 16px;">Valor
                                desconto</label>
                            <div class="p-col">
                                <p-inputNumber formControlName="desconto" [(ngModel)]="desconto == null ? 0 : desconto"
                                    mode="decimal" [showButtons]="true" buttonLayout="horizontal"
                                    spinnerMode="horizontal" incrementButtonIcon="pi pi-plus"
                                    decrementButtonClass="ui-button-danger" [max]="100"
                                    incrementButtonClass="ui-button-success" decrementButtonIcon="pi pi-minus"
                                    [min]="1">
                                </p-inputNumber>
                            </div>
                        </div>
                        <p style="padding-left: 24px;">Use apenas 2 casas decimais e use ponto (.) ao invés de vírgula
                            (,) para separar!</p>
                    </div>
                    <div class="p-field p-grid" [hidden]="formulario.value.tipoDesconto == 'VALOR' ? false : true">
                        <label for="desconto" class="p-col-fixed" style="width:130px; padding-left: 16px;">valor
                            desconto</label>
                        <div class="p-col">
                            <p-inputNumber formControlName="desconto" [(ngModel)]="desconto == null ? 0.00 : desconto"
                                mode="decimal" mode="currency" [showButtons]="true" buttonLayout="horizontal"
                                spinnerMode="horizontal" [step]="0.25" decrementButtonClass="ui-button-danger"
                                incrementButtonClass="ui-button-success" incrementButtonIcon="pi pi-plus"
                                decrementButtonIcon="pi pi-minus" prefix="R$" mode="decimal" [minFractionDigits]="2">
                            </p-inputNumber>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="cadastro-acoes">
                <button pButton value="submit" type="submit" icon="fas fa-plus" iconPos="right"
                    class="ui-button-success" [disabled]="formulario.invalid" label="Salvar">
                </button>
                <!-- <button pButton type="reset" icon="fas fa-snowplow" iconPos="right" class="ui-button-rounded"
                    label="Limpar" (click)="limpar()">
                </button> -->
            </div>
        </p-footer>
    </p-panel>
    <!-- <pre>{{formulario.value| json}}</pre> -->
</form>
<br />
<p-table #dt [value]="negociacaoProdutos" [responsive]="true" styleClass="ui-table-customer" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>Produto ou serviço</th>
            <th>Qtde</th>
            <th>Preço</th>
            <th>Recorrência</th>
            <th>Subtotal</th>
            <th class="col-acoes-header"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-negociacaoProduto let-rowIndex="rowIndex">
        <tr class="ui-selectable-row">
            <td>
                {{ negociacaoProduto.produto.nome }}
            </td>
            <td>
                {{ negociacaoProduto.quantidade }}
            </td>
            <td>
                {{ negociacaoProduto.valor }}
            </td>
            <td>
                {{ negociacaoProduto.reincidencia }}
            </td>
            <td>
                <ul>
                    <li>Valor: {{ negociacaoProduto.valor }}</li>
                    <li style="color: brown;" [hidden]="negociacaoProduto.desconto == null">Desconto:
                        {{negociacaoProduto.desconto}}</li>
                    <li>Total: {{negociacaoProduto.total}}</li>
                </ul>
            </td>
            <td class="col-acoes">
                <button pButton icon="fas fa-pencil-alt" type="button" value="editar" pTooltip="Editar"
                    tooltipPosition="top" class="ui-button-rounded"
                    (click)="prepararEdicao(negociacaoProduto)"></button>
                <button pButton icon="fa fa-trash" type="button" pTooltip="Excluir" tooltipPosition="top"
                    (click)="confirmarExclusao(negociacaoProduto)" class="ui-button-rounded ui-button-danger"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">
                Nenhum produto a venda cadastrado
            </td>
        </tr>
    </ng-template>
</p-table>
<!-- <pre>{{ negociacaoProdutos |json}}</pre> -->

<form [formGroup]="formularioEdit" autocomplete="off" (ngSubmit)="salvarNegociacaoProduto()">
    <p-dialog header="Edição de Produto ou Serviços" [(visible)]="exbindoFormularioEdicao" modal="modal"
        [style]="{width: '35vw'}" *ngIf="formularioEdit">
        <div class="ui-g">
            <div class="p-field p-grid" formGroupName="produto">
                <label for="produto" class="p-col-fixed" style="width:130px; padding-left: 16px;">Produto <span
                        style="color: crimson;">*</span></label>
                <div class="p-col">
                    <p-dropdown name="produto" [options]="produtos" [filter]="true" formControlName="id"
                        placeholder="selecione um produto" (onChange)="valor($event.value)">
                    </p-dropdown>
                    <app-message [control]="formularioEdit.get('produto')" error="obrigatoriedade"
                        text="Selecione um Produto/Serviço para a Negociação.">
                    </app-message>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="quantidade" class="p-col-fixed" style="width:130px; padding-left: 16px;">Recorrência</label>
                <div class="p-col">
                    <p-dropdown [options]="optReincidencia" [filter]="false" formControlName="reincidencia">
                    </p-dropdown>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="quantidade" class="p-col-fixed" style="width:130px; padding-left: 16px;">Quantidade</label>
                <div class="p-col">
                    <p-inputNumber [(ngModel)]="qtd" formControlName="quantidade" mode="decimal" [showButtons]="true"
                        buttonLayout="horizontal" spinnerMode="horizontal" incrementButtonIcon="pi pi-plus"
                        decrementButtonClass="ui-button-danger" incrementButtonClass="ui-button-success"
                        decrementButtonIcon="pi pi-minus" [min]="1">
                    </p-inputNumber>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="valor" class="p-col-fixed" style="width:130px; padding-left: 16px;">Valor</label>
                <div class="p-col">
                    <p-inputNumber formControlName="valor" mode="decimal" mode="currency"
                        [(ngModel)]="valorProduto == null ? 0.00 : valorProduto" [showButtons]="true"
                        buttonLayout="horizontal" spinnerMode="horizontal" [step]="0.25"
                        decrementButtonClass="ui-button-danger" incrementButtonClass="ui-button-success"
                        incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" prefix="R$" mode="decimal"
                        [minFractionDigits]="2">
                    </p-inputNumber>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="temDesconto" class="p-col-fixed" style="width:130px; padding-left: 16px;">Tem
                    desconto?</label>
                <div class="p-col">
                    <p-inputSwitch [(ngModel)]="checkedEdit" formControlName="temDesconto"
                        (click)="formularioEdit.value.tipoDesconto = 'PORCENTAGEM'"></p-inputSwitch>
                </div>
            </div>
            <div class="p-field p-grid" [hidden]="!checkedEdit">
                <label for="optTipoDesconto" class="p-col-fixed" style="width:130px; padding-left: 16px;">Tipo
                    desconto</label>
                <div class="p-col">
                    <p-dropdown name="optTipoDesconto" [options]="optTipoDesconto" [filter]="false"
                        formControlName="tipoDesconto">
                    </p-dropdown>
                </div>
            </div>
            <div [hidden]="!checkedEdit">
                <div [hidden]="formularioEdit.value.tipoDesconto == 'PORCENTAGEM' ? false : true">
                    <div class="p-field p-grid">
                        <label for="desconto" class="p-col-fixed" style="width:130px; padding-left: 16px;">Valor
                            desconto</label>
                        <div class="p-col">
                            <p-inputNumber formControlName="desconto" [(ngModel)]="desconto == null ? 0 : desconto"
                                mode="decimal" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                                incrementButtonIcon="pi pi-plus" decrementButtonClass="ui-button-danger" [max]="100"
                                incrementButtonClass="ui-button-success" decrementButtonIcon="pi pi-minus" [min]="1">
                            </p-inputNumber>
                        </div>
                    </div>
                    <p style="padding-left: 24px;">Use apenas 2 casas decimais e use ponto (.) ao invés de vírgula
                        (,) para separar!</p>
                </div>
                <div class="p-field p-grid" [hidden]="formularioEdit.value.tipoDesconto == 'VALOR' ? false : true">
                    <label for="desconto" class="p-col-fixed" style="width:130px; padding-left: 16px;">valor
                        desconto</label>
                    <div class="p-col">
                        <p-inputNumber formControlName="desconto" [(ngModel)]="desconto == null ? 0.00 : desconto"
                            mode="decimal" mode="currency" [showButtons]="true" buttonLayout="horizontal"
                            spinnerMode="horizontal" [step]="0.25" decrementButtonClass="ui-button-danger"
                            incrementButtonClass="ui-button-success" incrementButtonIcon="pi pi-plus"
                            decrementButtonIcon="pi pi-minus" prefix="R$" mode="decimal" [minFractionDigits]="2">
                        </p-inputNumber>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="cadastro-acoes">
                <button pButton value="submit" type="submit" icon="fas fa-plus" iconPos="right"
                    class="ui-button-success" [disabled]="formularioEdit.invalid" label="Salvar">
                </button>
                <button pButton type="reset" icon="fas fa-snowplow" iconPos="right" class="ui-button-warning"
                    label="Fechar" (click)="fechar()">
                </button>
            </div>
        </p-footer>
    </p-dialog>
    <!-- <pre>{{formularioEdit.value|json}}</pre> -->
</form>