<form [formGroup]="formulario" autocomplete="off" (ngSubmit)="salvar()">
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="title1">Adicionar produtos e serviços</span><br />
                <span class="title2">Adicione produtos e serviços para a sua negociação</span>
            </div>
        </p-header>
        <div class="ui-g">
            <div class="ui-g-12 ui-fluid">
                <p-dropdown name="produto" [options]="produtos" [filter]="true" formControlName="produto"
                    [(ngModel)]="produtoSelecionado" placeholder="selecione um produto" optionLabel="nome"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-fluid">
                <span class="ui-float-label">
                    <p-inputNumber mode="decimal" [(ngModel)]="qtd" formControlName="quantidade">
                    </p-inputNumber>
                </span>
            </div>
            <div class="p-col-12 ui-fluid">
                <label>Valor</label>
                <p-inputNumber formControlName="valor" mode="decimal" mode="currency"
                    [(ngModel)]="produtoSelecionado.valor" prefix="R$" mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>
            <div class="p-col-12 ui-fluid">
                <label>Recorrência</label>
                <p-dropdown [options]="optReincidencia" [filter]="false" formControlName="reincidencia">
                </p-dropdown>
            </div>
            <div class="p-formgroup-inline p-col-3">
                <div class="p-col-8">
                    <label>Haverá desconto?</label>
                </div>
                <div class="p-col-4">
                    <p-inputSwitch [(ngModel)]="checked" formControlName="temDesconto"></p-inputSwitch>
                </div>
            </div>
            <div class="p-col-1 ui-fluid" [hidden]="!checked">
                <p-dropdown name="produto" [options]="optTipoDesconto" [filter]="false" formControlName="tipoDesconto">
                </p-dropdown>
            </div>
            <div class="p-col-12 ui-fluid" [hidden]="!checked">
                <span class="ui-float-label">
                    <p-inputNumber>
                    </p-inputNumber>
                    <label>Valor do Desconto</label>
                </span>
                <p>Use apenas 2 casas decimais e use ponto (.) ao invés de vírgula (,) para separar!</p>
            </div>
        </div>
        <p-footer>
            <div class="cadastro-acoes">
                <button pButton value="submit" type="submit" icon="fas fa-plus" iconPos="right"
                    pTooltip="Adicionar telefone" tooltipPosition="top" class="ui-button-rounded"
                    [disabled]="formulario.invalid" label="Salvar">
                </button>
                <!-- <button pButton type="reset" icon="fas fa-snowplow" iconPos="right" class="ui-button-rounded"
                    label="Limpar" (click)="limpar()">
                </button> -->
            </div>
        </p-footer>
    </p-panel>
    <!-- <pre>{{formulario.value| json}}</pre> -->
</form>
<br />
<p-table #dt [value]="negociacaoProdutos" [responsive]="true" styleClass="ui-table-customer" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>Produto ou serviço</th>
            <th>Qtde</th>
            <th>Preço</th>
            <th>Recorrência</th>
            <th>Subtotal</th>
            <th class="col-acoes-header"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-negociacaoProduto let-rowIndex="rowIndex">
        <tr class="ui-selectable-row">
            <td>
                {{ negociacaoProduto.valor }}
            </td>
            <td>
                {{ negociacaoProduto.quantidade }}
            </td>
            <td>
                {{ negociacaoProduto.valor }}
            </td>
            <td>
                {{ negociacaoProduto.reincidencia }}
            </td>
            <td>
                <ul>
                    <li>Valor: {{ negociacaoProduto.valor }}</li>
                    <li style="color: brown;" [hidden]="negociacaoProduto.desconto == null">Desconto: {{negociacaoProduto.desconto}}</li>
                    <li>Total: {{negociacaoProduto.total}}</li>
                </ul>
            </td>
            <td class="col-acoes">
                <button pButton icon="fas fa-pencil-alt" type="button" pTooltip="Editar" tooltipPosition="top"
                    class="ui-button-rounded"></button>
                <button pButton icon="fa fa-trash" type="button" pTooltip="Excluir" tooltipPosition="top"
                    (click)="confirmarExclusao(negociacaoProduto)" class="ui-button-rounded ui-button-danger"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">
                Nenhum produto a venda cadastrado
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- <pre>{{ negociacaoProdutos |json}}</pre> -->