<div class="table">
    <p-table [value]="clientes" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true"
        [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" [loading]="loading" #tabela
        styleClass="ui-table-customers" [rowHover]="true" [rowsPerPageOptions]="[5, 10, 25, 50]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas">
        <ng-template pTemplate="caption">
            <h1>Empresas/Clientes</h1>
            <div class="ui-table-globalfilter-container">
                <button pButton label="Novo" routerLink="/clientes/novo" iconPos="right"
                    icon="pi pi-user-plus"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Segmento</th>
                <th>Responsável</th>
                <th>Placar</th>
                <th class="col-acoes-header"></th>
            </tr>
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <input pInputText type="text" [(ngModel)]="filtro.nome"
                        (input)="tabela.filter($event.target.value, 'nome', 'startsWith')"
                        placeholder="Pesquisar pelo nome" class="ui-column-filter">
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td>
                    <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
                </td>
                <td>
                    <span class="ui-column-title">Nome</span>
                    <a icon="fas fa-pencil-alt" pTooltip="{{cliente.nome}}" tooltipPosition="top"
                        [routerLink]="['/clientes/detalhar', cliente.id]">{{cliente.nome}}</a>
                </td>
                <td>
                    <span class="ui-column-title">Segmento</span>
                    {{ cliente.segmento?.nome | json}}
                </td>
                <td></td>
                <td></td>
                <td class="col-acoes">
                    <button pButton icon="fas fa-pencil-alt" pTooltip="Editar" tooltipPosition="top"
                        [routerLink]="['/clientes', cliente.id]" class="ui-button-rounded"></button>
                    <button pButton icon="fas fa-trash" pTooltip="Excluir" tooltipPosition="top"
                        (click)="confirmarExclusao(cliente)" class="ui-button-rounded ui-button-danger"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">
                    Nenhum cliente encontrada
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>