<div class="container">
    <form [formGroup]="formulario" autocomplete="off" (ngSubmit)="salvar()">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1>{{ editando ? 'Edição de' : 'Novo' }} Negociação</h1>
            </div>
            <div class="ui-g-12 ui-fluid">
                <label>Nome <span style="color: crimson;">*</span></label>
                <input pInputText placeholder="Nome  *" type="text" name="nome" formControlName="nome">
                <app-message [control]="formulario.get('nome')" error="obrigatoriedade"
                    text="Informe o uma descrição.">
                </app-message>
                <app-message [control]="formulario.get('nome')" error="tamanhoMinimo"
                    text="Mínimo de {{ formulario.get('nome').errors?.tamanhoMinimo?.tamanho }} caracteres.">
                </app-message>
            </div>
            <div class="ui-g-12 ui-md-4 ui-fluid" formGroupName="cliente">
                <label>Cliente <span style="color: crimson;">*</span></label>
                <p-dropdown name="cliente" [options]="cliente" placeholder="Selecione" [filter]="true"
                    formControlName="id"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4 ui-fluid" formGroupName="campanha">
                <label>Campanha <span style="color: crimson;">*</span></label>
                <p-dropdown name="campanha" [options]="campanha" placeholder="Selecione" [filter]="true"
                    formControlName="id"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4 ui-fluid" formGroupName="fonte">
                <label>Fonte <span style="color: crimson;">*</span></label>
                <p-dropdown name="fonte" [options]="fonte" placeholder="Selecione" [filter]="true"
                    formControlName="id"></p-dropdown>
            </div>
            <div class="ui-g-12 cadastro-acoes">
                <button pButton value="submit" type="submit" label="Salvar" [disabled]="formulario.invalid"
                    style="padding-left:10;"></button>
                <button pButton value="Limpar" type="button" label="Limpar" class="ui-button-info" (click)="limpar()"
                    style="padding-left:10;"></button>
                <button pButton value="Pesquisar" type="button" label="Pesquisar" class="ui-button-info"
                    Clabel="Pesquisa" routerLink="/negociacoes" style="padding-left:10;"></button>
            </div>
        </div>
    </form>
</div>