<p-menubar [model]="items">
    <div>
        <button #btn type="button" pButton iconPos="right" icon="pi pi-caret-down" (click)="menu.toggle($event)" label=" {{ auth.jwtPayload?.client_id }} "></button>
        <p-slideMenu #menu [model]="users" [popup]="true" [viewportHeight]="260" ></p-slideMenu>
        <button pButton label="Sair" icon="pi pi-power-off" style="margin-left:.25em" (click)="logout()"></button>
    </div>
</p-menubar>

<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000" id="sidebar">
    <div class="sidebar-header">
        <h2 style="font-weight:normal">Lead Sponge</h2>
    </div>
    <ul class="list-unstyled components">
        <li class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"
          *ngIf="auth.temPermissao('ROLE_USER')"><a routerLink="/dashboard">Dashboard</a></li>
        <li class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"
          *ngIf="auth.temPermissao('ROLE_USER')"><a routerLink="/usuarios">Usuarios</a></li>
        <li class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"
          *ngIf="auth.temPermissao('ROLE_USER')"><a routerLink="/lancamentos">Lançamentos</a></li>
        <li class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"
          *ngIf="auth.temPermissao('ROLE_USER')"><a routerLink="/pessoas">Pessoas</a></li>
        <li class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"
          *ngIf="auth.temPermissao('ROLE_USER')"><a routerLink="/relatorios/lancamentos">Relatório</a></li>
    </ul>
</p-sidebar>