@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.cadastro-acoes .ui-button {
    margin-right: 5px;
}

.col-acoes {
    width: 100px;
    text-align: center;
}

.col-acoes-header {
    width: 100px;
}

.col-acoes .ui-button {
    margin: 2px;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

label {
    font-weight: bold;
}

.ui-dropdown-filter-container {
    width: 100%;
}

.col-data {
    width: 120px;
    text-align: center;
}

.col-data-header {
    width: 120px;
}

.col-acoes {
    width: 100px;
    text-align: center;
}

.col-acoes-header {
    width: 100px;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 8px 10px 8px;
    color: #000000;
    &.text-center {
        width: 100%;
    }
}

div.table {
    padding: 0.3em;
}

.uppercase {
    text-transform: uppercase;
}

input[type=text],input[type=email],input[type=password] {
    border-top: none;
    border-left: none;
    border-right: none;
}


/* .cadastro-acoes {
  button {
    border: none;
    color: white;
    padding: 0.571em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 40px 40px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  button:active{
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
}*/