<div class="custom">
    <div class="ui-g">
        <div style="width: 50px; padding: 0.3em 1em;">
            <button pButton icon="fas fa-arrow-left fa-2x" pTooltip="Voltar" tooltipPosition="top"
                (click)="backClicked()" class="ui-button-rounded ui-button-secondary"></button>
        </div>
        <div class="p-col p-md ui-fluid">
            <h5>{{negociacao.nome}}</h5>
        </div>
    </div>
    <h1>Empresa/Cliente</h1>
    <div class="p-col p-md ui-fluid">
        <a icon="fas fa-pencil-alt" pTooltip="{{negociacao.cliente.nome}}" tooltipPosition="top"
            [routerLink]="['/clientes/detalhar', negociacao.cliente.id]">{{negociacao.cliente.nome}}</a>
    </div>
    <p-tabMenu [model]="items" [activeItem]="activeItem">
        <ng-template pTemplate="item" let-item let-i="index">
            <div class="ui-tabmenu">
                <div style="position: relative; text-align: center; min-width: 10em;">
                    <div class="ui-menuitem-text">
                        {{item.label}}
                    </div>
                </div>
            </div>
        </ng-template>
    </p-tabMenu>
    <div class="ui-g">
        <div class="p-col">
            <div style="width: 220px;">
                <div class="p-col p-md ui-fluid">
                    <span class="ui-column-title">Funil de vendas</span>
                </div>
                <div class="p-col p-md ui-fluid">
                    <p-steps-extended [model]="funil" [(activeIndex)]="activeIndexFunil" [readonly]="false"
                        (click)="alterarFunil(negociacao)"></p-steps-extended>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div class="p-col p-md ui-fluid">
                Qualificação
            </div>
            <div class="p-col p-md ui-fluid">
                <p-rating [(ngModel)]="negociacao.avaliacao" (click)="alternarAvaliacao(negociacao)" [cancel]="false">
                </p-rating>
            </div>
        </div>
        <div class="p-col">
            <div class="p-col p-md ui-fluid">
                Valores
            </div>
            <div class="p-col p-md ui-fluid">
                <ul>
                    <li> {{negociacao.valorMensal == null ? 'R$ 0,00' : negociacao.valorMensal}}</li>
                    <li>{{negociacao.valorUnico == null ? 'R$ 0,00' : negociacao.valorUnico}}</li>
                </ul>
            </div>
        </div>
        <div class="p-col">
            <div class="p-col p-md ui-fluid">
                Data de criação
            </div>
            <div class="p-col p-md ui-fluid">
                {{ negociacao.updatedAt | date:'dd/MM/yyyy' }}
            </div>
        </div>
        <div class="p-col">
            <div style="width: 190px;">
                <div class="p-col p-md ui-fluid">
                    Data de fechamento
                </div>
                <div class="p-col p-md ui-fluid">
                    <p-calendar name="dataPE" [locale]="ptBR" (onSelect)="alternarDPE($event,negociacao)"
                        [showIcon]="false" [hidden]="!editing" dateFormat="dd/mm/yy" [showTime]="true"
                        placeholder="insira uma data" [ngModel]="negociacao.dataPrevistaEncerramento| date: 'short'"
                        showButtonBar="true">
                    </p-calendar>
                    <p [hidden]="editing" (click)="editing = !editing">
                        {{negociacao.dataPrevistaEncerramento == null ? 'insira uma data' : negociacao.dataPrevistaEncerramento | date: 'short'}}
                    </p>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div style="width: 280px;">
                <div class="p-col p-md ui-fluid">
                    Ações
                </div>
                <div class="ui-fluid p-formgrid p-grid">
                    <div [hidden]="!motivoPerdAtivo" class="p-field p-col p-md ui-fluid">
                        <p-dropdown [options]="motivoPerda" [filter]="true" optionLabel="nome"
                            placeholder="Motivo da perda" [(ngModel)]="selectedMP"
                            (onHide)="alterarMP(negociacao.id, selectedMP)">
                        </p-dropdown>
                    </div>
                    <div [hidden]="!motivoPerdAtivo" class="p-field p-col p-md ui-fluid">
                        <span pTooltip="Excluir negociação" tooltipPosition="top" class="apagar"
                            (click)="motivoPerdAtivo = !motivoPerdAtivo">
                            <i class="far fa-times-circle fa-2x"></i>
                        </span>
                    </div>
                    <div [hidden]="negociacao.estatus == 'EMANDAMENTO'" class="p-field p-col p-md ui-fluid">
                        <button pButton icon="fas fa-undo-alt" label="Retomar Negociação"
                            (click)="alternarEstatus(negociacao,estatus[0])" class="ui-button-secondary">
                        </button>
                    </div>
                    <div [hidden]="negociacao.estatus != 'EMANDAMENTO'|| motivoPerdAtivo "
                        class="p-field p-col p-md ui-fluid">
                        <span pTooltip="Excluir negociação" tooltipPosition="top" class="vendido"
                            (click)="alternarEstatus(negociacao,estatus[1])">
                            <i class="fas fa-thumbs-up fa-2x"></i>
                        </span>
                    </div>
                    <div [hidden]="negociacao.estatus != 'EMANDAMENTO' || motivoPerdAtivo "
                        class="p-field p-col p-md ui-fluid">
                        <span pTooltip="Excluir negociação" tooltipPosition="top" class="perdido"
                            (click)="motivoPerdAtivo = !motivoPerdAtivo">
                            <i class="fas fa-thumbs-down fa-2x"></i>
                        </span>
                    </div>
                    <div [hidden]="negociacao.estatus != 'EMANDAMENTO' || motivoPerdAtivo "
                        class="p-field p-col p-md ui-fluid">
                        <span pTooltip="Excluir negociação" tooltipPosition="top" class="pausado"
                            (click)="alternarEstatus(negociacao,estatus[3])">
                            <i class="fas fa-pause fa-2x"></i>
                        </span>
                    </div>
                    <div class="p-field p-col-2 p-md ui-fluid">
                        <span pTooltip="Excluir negociação" tooltipPosition="top" class="apagar"
                            (click)="confirmarExclusao(negociacao)">
                            <i class="fas fa-trash fa-2x"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 0.5em;">
        <app-historico *ngIf="activeIndex === 3"></app-historico>
        <app-tarefas *ngIf="activeIndex === 1"></app-tarefas>
        <app-contatos *ngIf="activeIndex === 2"></app-contatos>
        <app-produtos *ngIf="activeIndex === 0"></app-produtos>
    </div>
</div>
<!-- <pre> {{negociacao | json}} </pre> -->