<div class="custom">
    <div class="ui-g">
        <button pButton icon="fas fa-arrow-left fa-2x" pTooltip="Voltar" tooltipPosition="top" (click)="backClicked()"
            class="ui-button-rounded ui-button-secondary"></button>
        <p>{{negociacao.nome}}</p>
    </div>
    <h1>Empresa/Cliente</h1>
    <p-tabMenu [model]="items" [activeItem]="activeItem">
        <ng-template pTemplate="item" let-item let-i="index">
            <div class="ui-tabmenu">
                <div style="position: relative; text-align: center; min-width: 10em;">
                    <div class="ui-menuitem-text">
                        {{item.label}}
                    </div>
                </div>
            </div>
        </ng-template>
    </p-tabMenu>
    <div class="ui-g">
        <div class="p-col-3">
            <div class="p-col p-md ui-fluid">
                <span class="ui-column-title">Funil de vendas</span>
            </div>
            <div class="p-col p-md ui-fluid">
                <app-funil-de-vendas [negociacao]="negociacao"></app-funil-de-vendas>
            </div>
        </div>
        <div class="p-col">
            <div class="p-col p-md ui-fluid">
                Qualificação
            </div>
            <div class="p-col p-md ui-fluid">
                <p-rating [(ngModel)]="negociacao.avaliacao" (click)="alternarAvaliacao(negociacao)" [cancel]="false">
                </p-rating>
            </div>
        </div>
        <div class="p-col">
            <div class="p-col p-md ui-fluid">
                Valores
            </div>
            <div class="p-col p-md ui-fluid">
                <ul>
                    <li> {{negociacao.valorMensa == null ? 'R$ 0,00' : negociacao.valorMensa}}</li>
                    <li>{{negociacao.valorUnico == null ? 'R$ 0,00' : negociacao.valorUnico}}</li>
                </ul>
            </div>

        </div>
        <div class="p-col">
            <div class="p-col p-md ui-fluid">
                Data de criação
            </div>
            <div class="p-col p-md ui-fluid">
                {{negociacao.createdAt | date:'dd/MM/yyyy' }}
            </div>

        </div>
        <div class="p-col">
            <div class="p-col p-md ui-fluid">
                Data de fechamento
            </div>
            <div class="p-col p-md ui-fluid"></div>

        </div>
        <div class="p-col">
            <div class="p-col p-md ui-fluid">
                Ações
            </div>
            <div class="p-col p-md ui-fluid"></div>

        </div>
    </div>
    <div style="padding: 0.5em;">
        <app-historico *ngIf="activeIndex === 0"></app-historico>
        <app-tarefas *ngIf="activeIndex === 1"></app-tarefas>
        <app-contatos *ngIf="activeIndex === 2"></app-contatos>
        <app-produtos *ngIf="activeIndex === 3"></app-produtos>
    </div>
</div>
<!-- <pre> {{negociacao | json}} </pre> -->