<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1>{{ editando ? 'Edição de' : 'Novo' }} Contato</h1>
            </div>
            <div class="ui-g-12 ui-fluid">
                <span class="ui-float-label">
                    <input pInputText type="text" name="nome" [(ngModel)]="contato.nome" #nome="ngModel" required
                        minlength="5">
                    <label for="float-input">Nome <span style="color: crimson;">*</span></label>
                </span>
                <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
                <app-message [control]="nome" error="minlength"
                    text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres">
                </app-message>
            </div>
            <div class="ui-g-12 ui-fluid">
                <span class="ui-float-label">
                    <input pInputText type="text" name="cargo" [(ngModel)]="contato.cargo" #cargo="ngModel">
                    <label for="float-input">Cargo</label>
                </span>
            </div>
            <div class="ui-g-12 ui-fluid">
                <p-dropdown placeholder="Selecione um cliente *" [filter]="true" [options]="clientes"
                    [(ngModel)]="contato.cliente.id" name="cliente" (onChange)="carregarClientes()" 
                    #cliente="ngModel" required>
                </p-dropdown>
                <app-message [control]="cliente" error="required" text="Informe o cliente"></app-message>
            </div>
            <div class="ui-g-6">
                <p-panel header="Telefones">
                    <app-contato-cadastro-telefone [telefones]="contato.telefone"></app-contato-cadastro-telefone>
                </p-panel>
            </div>
            <div class="ui-g-6">
                <p-panel header="Email">
                    <app-contato-cadastro-email [emails]="contato.email"></app-contato-cadastro-email>
                </p-panel>
            </div>
            <div class="ui-g-12 cadastro-acoes">
                <button pButton value="submit" type="submit" label="Salvar" [disabled]="f.invalid"
                    style="padding-left:10;" class="ui-button-success"></button>
                <button pButton value="Limpar" type="button" label="Limpar" class="ui-button-warning" (click)="limpar(f)"
                    style="padding-left:10;"></button>
                <button pButton value="Pesquisar" type="button" label="Pesquisar" class="ui-button-info"
                    Clabel="Pesquisa" routerLink="/contatos" style="padding-left:10;"></button>
            </div>
        </div>
    </form>
</div>